.TopNavBarContainer {
    z-index: 0;
    height: 0;
}

.TopNavBar {
    position: fixed;
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: -1;
    background-color: #000000;
}