.NavigationItem {
    padding: 10px;
    font-size: 20px;
}

.NavigationItem a {
    color: #FFFFFF;
    text-decoration: none;
}

.NavigationItem a:hover {
    opacity: 0.8;
}

@media(min-width: 540px) {
    .NavigationItem {
        display: block;
    }
}

