.ResultInputBox {
    padding: 4px;
    margin-top: 10px;
    margin-bottom: 33px;
    width: 85%;
    min-width: 210px;
    max-width: 300px;
    align-self: center;
    text-indent: 10px;
    border: 1px solid grey;
    border-radius: 4px;
}